*{
    margin: 0;
    padding: 0;
}

// リセット用
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
header{
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #fff;
        line-height: 13vh;
        margin-left: 3rem;
        width: 15%;
        a{
          img{
            width: 100%;
            vertical-align: middle;
          }
        }
    }
    background-color: #DD0303;
    form{
        position: relative;
        width: 35%;
            input{
              box-shadow:0px 0px 10px 1px rgba(82, 82, 82, 0.5) inset;
                border-radius: 20px;
                background-color: #fff;
                width: 100%;
                height: 40px;
                padding-left: 1rem;
            }
            button{
                position: absolute;
                right: 0;
                top: 20%;
                img{
                  width: 25px;
                }
            }
    }
    .gnavi{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
        li{
          color: #fff;
          margin: 0.2rem;
          list-style: none;
          position: relative;
          display: block;
          a{
            display: block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding:0.8rem;
            transition: 0.3s;
          border-radius: 15px;
            &:hover{
              background-color: #010101;
              transition: 0.2s;
            }
            &:active{
              background-color: #695050;
            }
          }
        }
    }
}
footer{
  background-color: #EBEBEB;
  height: 25vh;
  ul{
    display: flex;
    justify-content: center;
    list-style: none;
    li{
      margin: 4rem;
    }
  }
  .logoFooter{
    text-align: center;
    margin-bottom: 3rem;
  }
  .copy{
    text-align: center;
    font-size: 0.8rem;
    // margin-bottom: none;
  }
}


//使い回し用ここまで


main{
  display: flex;
}
.left{
  max-width: 80%;
  z-index: 99;
  h1{
    img{
      margin: 3rem;
      border-radius: 20px;
      max-width: 90%;
    }
  }
  .leftConte{
    background-color: #fff;
    // z-index: 999;
    position: relative;
    border-top: 1px gray solid;
    margin-top: 6.5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .err_pick{
      text-align: center;
      width: 100%;
    }
    .Item{
      width: 25%;
      margin: 0.4rem;
      // border: 1px solid gray;
      padding: 0 1rem;
      text-align: center;
      position: relative;
      a{
        text-decoration: none;
        color: #403b3b;
      }
      .ItemImgDiv{
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        img{
          position: relative;
          width: auto;
          height: 100%;
          object-fit:cover;
          text-align: center;
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transition: 0.3s;
          &:hover{
            transform: scale(1.01,1.01);
            opacity: 0.8;
          }
        }
      }
      h2{
        text-align: left;
        margin: 1rem 2rem;
        display: block;
        font-size: 1rem;
      }
      .price{
          position: absolute;
          top: 200px;
          left: 20px;
          background-color: #403b3b;
          opacity: 0.8;
          width: 40%;
          height: 13%;
          border-radius: 0 25px 25px 0;
        p{
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 900;
          transform: translate(0%,20%);
        }
      }
    }
  }
}
.right{
  border-left: gray solid 1px;
  max-width: 20%;
  padding: 1rem;
    .rightWatch{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      div{
        border: gray 1px solid;
        padding: 1rem;
        width: 30%;
        margin: 3%;
        img{
          width: 100%;
        }
      }
      .more{
        a{
          text-align: right;
        }
        text-align: right;
      }
    }
    h2{
      margin: 1rem 0 1rem;
      font-size: 1.3rem;
    }
    ul{
      padding-bottom: 1rem;
      li{
        list-style: none;
        padding: 0.2rem 0;
        a{
          text-decoration: none;
          color: #000000;
          &:hover{
            color: #cfbc2f;
            font-weight: 900;
          }
        }
      }
    }
  }
.osusume{
  position: absolute;
  z-index: -3;
  height: 10%;
  max-width: 20%;
  left: 10%;
  top: -3rem;
  padding-top: 0.7rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 30px;
  a{
    margin: 3rem;
    color: #DD0303;
    width: 100%;
    font-weight: 900;
    text-decoration: none;
  }
}
.watch{
  position: absolute;
  height: 10%;
  max-width: 20%;
  background-color: #fff;
  padding-top: 0.7rem;
  z-index: -3;
  left: 28%;
  top: -3rem;
  border: 1px solid gray;
  border-radius: 30px;
  a{
    margin: 3rem;
    color: #403b3b;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
  }
}
.soldOut{
  position: absolute;
  top: 0;
  width: 100%;
  height: 2rem;
  font-weight: bold;
  line-height: 2rem;
  background-color: red;
  color: #fff;
}


// アニメーション
.top{
  background-color: #FFFFFF;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;;
  .sicle{
    animation: logo 2s forwards;
    // position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 20%;
    img{
      width: 100%;
    }
  }
  .en{
    animation: 30s round forwards;
    // position: absolute;
    position: absolute;
    top: 26.5%;
    left: 36%;
    // transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    width: 25%;
    img{
      width: 100%;
    }
    // font-size: 3rem;
    // line-height: 3rem;
  }
  .copy{
    animation: 2.5s logoCopy forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 23%;
    img{
      width: 100%;
    }
    // font-size: 3rem;
    // line-height: 3rem;
  }
}

// keyframes
@keyframes round {
  0% {
    transform:rotateZ(0deg);
    z-index: 900;
    // filter: blur(0px);
    // transform: translate(-50%, -50%) rotate(0deg);
  }
  // 50%{
  //   transform: scale(101%);
  // }
  99%{
    z-index: 900;
  }
  100% {
    transform:rotateZ(360deg);
    z-index: -10;
    // filter: blur(3px);
    // transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes logo {
  0% {
    // transform:rotateZ(0deg);
    opacity: 0;
  }
  20%{
    opacity: 0;
    top: 48%;
  }
  50%{
    top: 52%;
  }
  100% {
    // transform:rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes logoCopy {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes topOpacity {
  0%{
    opacity: 1;
    z-index: 900;
  }
  80%{
    opacity: 1;
  }
  99%{
    z-index: 900;
  }
  100%{
    opacity: 0;
    z-index: -10;
  }
}

.anime{
  animation: 5s forwards topOpacity;
}